
body{
    background-color: red;

    section{
        height: auto;
        div{

            // background-color: blue;
            display: flex;
            justify-content: center;
            background-color: blue;
            padding: auto;
           
        
                input{
                    
                }
        }
    }
}