body {
    background-color: gray;

    section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
       height: max-content;

        h1 {
            text-align: center;
            font-family: scream;
            font-size: 400%;
            color: whitesmoke;
            span{
                font-size: 50%;
            }
        }

        div {
            display: flex;
            justify-content: center;

        }

        .allCmnd {
            width: 50%;
            display: flex;
            justify-content: space-evenly;
            height: 10vh;
            align-items: center;

            button {
                height: 40%;
                width: 20%;
                border-radius: 5px;
                font-family: scream;
                font-size: 100%;
                color: whitesmoke;
                background-color:dimgray ;
                box-shadow: black 0px 0px 5px 5px ;
                text-transform: capitalize;
            }
        }
    
        .todoTab {
            background-color: darkgray;
            box-shadow: black 0px 0px 45px 2px ;
            padding: 0.2%;
            border-radius: 5px;
            width: 75%;

            .todo{
                height: 10%;
                width: 100%;

                input{
               width: 100%;
                }

                button {
                    border-radius: 5px;
                    font-family: scream;
                    font-size: 100%;
                    color: whitesmoke;
                    background-color: dimgrey;
                    text-transform: capitalize;
    
                }
            }
            
            
        }
        
        h2{
            font-family:scream;
            color: whitesmoke;
            font-size: 200%;
        }
        .liste{
            background-color: darkgray;
            width: 60%; height: max-content;
            border-radius: 15px;
           margin: 1%;
           display: flex;
           flex-direction: column;
           text-align: center;
           box-shadow: black 0px 0px 25px 5px ;
           div{
               margin: 1%;
               display: flex;
               
               
               input{
                   width: 50%; height: 100%;
                   border-radius: 5px;
                   font-size: 150%;
                   font-family:scream;
               }
                button {
                    border-radius: 5px;
                    font-family: scream;
                    font-size: 100%;
                    color: whitesmoke;
                    background-color: dimgrey;
                    text-transform: capitalize;
                    height: 110%;
    
                }
           }
        }

    }
}